rooms-modal .rooms-section{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}

rooms-modal .rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
rooms-modal .room {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

rooms-modal .room img {
    width: 100%;
}

rooms-modal .with-icon img {
    width: 1rem;
    margin-right: 3px;
}

rooms-modal .room-properties {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

rooms-modal .room-properties > span {
    margin-right: 2rem;
}

rooms-modal .room-properties > div {
    margin-right: 1.5rem;
}

rooms-modal .ok-container {
    display: flex;
    justify-content: center;
    align-items: center;
}